#battleWrap {
    width: 800px;
    height: 700px;
}

#hpWrap {
    font-size: x-large;

}

#hpa {
    border: solid 3px rgb(0, 0, 0);
    background-color: rgb(255, 34, 0);
    width: 50%;
    height: 40px;
    transition: width .5s linear;
    position: relative;
    float: left;
}

#hpb {
    border: solid 3px rgb(0, 0, 0);
    background-color: rgb(255, 34, 0);
    width: 50%;
    height: 40px;   
    transition: width .5s linear;
    position: relative;
    float: right;
}

.ColMid {
    width: 10%;
}

.Col {
    display: inline-flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.ColWrap {
    width: 100%;
}


#centerWrap {
border: solid 3px black;
    display: grid;
grid-template-columns: 2fr 4fr 2fr;
height: 470px;

}

#announcements {
    font-size: 30px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.spelleffects {
    display: inline;
}