#charactermain {

    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
}

#bigcharacter {

    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
}

#smallcharacter {

    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
}


#characterwrap {
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid white 2px;
}

.formwrap {
    height:25px;
    margin: 10px;
}

.submit {
    margin-top: 10px;
    height: 35px;
    font-size: 25px;
}

.labelright {
    font-size: 25px;
}

#stats {
    margin: 10px;
    margin-bottom: 25px;
    font-size: 35px;
}

#wiz {
    background-image: url("../../assets/images/Wizard.gif");
    width: 200px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
}

#knight {
    background-image: url("../../assets/images/knightgif.gif");
    width: 200px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
}