body {
  background-color: black;
}

.canvas {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  min-width: 45%;
  max-width: 900px;
  min-height: 900px;
  max-height: 900px;
  height: fit-content;
  border-color: chartreuse;
  border-width: 5px;
  border-style: solid;
  padding: 5px;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: whitesmoke;
  z-index: -1;
}

#root {
  background-color: black;
}

.navlinks {
  border-bottom: 5px solid chartreuse;
  font-size: 30px;
display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 25px;
  margin-bottom: 50px;
  padding-bottom: 8px;
  column-gap: 5px;

}

a, a:hover, a:focus, a:active {
  text-decoration: none;
color: whitesmoke;
}

#loginpic {
  background-image: url("./components/assets/images/login.JPG");
  width: 300px;
  height: 450px;
}

#character {
  width: 500px;
  height: 500px;
}

.selectchar {
  margin-top: auto;
  margin-bottom: auto;
}